<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AC2 LP3
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <h1>Cálculo dos custos</h1>
  <ion-list>
    <ion-item>
      <ion-label>Número de produtos</ion-label>
      <ion-input [(ngModel)]="prod1" type="number"></ion-input>
    </ion-item>
    <ion-input [readonly]="true" value=" o desconto é de {{desconto}} reais "></ion-input>
    <ion-list>
      <ion-item>
        <ion-label>Selecione o peso do produto</ion-label>
        <ion-select class="custom-options" (ionChange)="verpeso($event)">
          <ion-select-option value="2">abaixo de 1kg</ion-select-option>
          <ion-select-option value="4">de 1kg até 5kg</ion-select-option>
          <ion-select-option value="6">de 5kg até 10kg</ion-select-option>
          <ion-select-option value="8">de 10kg até 20kg</ion-select-option>
          <ion-select-option value="10">de 20kg até 30kg</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-input [readonly]="true" value="O valor é de  {{peso}}  reais"></ion-input>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>Selecione a distancia</ion-label>
        <ion-select class="custom-options" (ionChange)="verdis($event)">
          <ion-select-option value="3">abaixo de 5 km</ion-select-option>
          <ion-select-option value="5">de 5 até 10 km</ion-select-option>
          <ion-select-option value="7">de 10 até 20 km</ion-select-option>
          <ion-select-option value="9">de 20 até 30 km</ion-select-option>
          <ion-select-option value="11">de 30 até 40 km</ion-select-option>
          <ion-select-option value="13">de 40 km até 50km</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-input [readonly]="true" value="O valor é de  {{distancia}} reais"></ion-input>
    </ion-list>

    <ion-list>
      <ion-segment value="default" (click)="modo()" [(ngModel)]="entrega">
        <ion-segment-button value="padrao">
          <ion-label>Padrão</ion-label>
        </ion-segment-button>
        <ion-segment-button value="rapido">
          <ion-label>Rapida</ion-label>
        </ion-segment-button>
        <ion-segment-button value="demorado">
          <ion-label>Demorada</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-list>
  </ion-list>
  
  <ion-button (click)="verificaSelecionado()">Verificar preço</ion-button>



</ion-content>
