<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AC2 LP3
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <h1>Cálculo dos custos</h1>
  <ion-list>
    <ion-item>
      <ion-label>Número de produtos</ion-label>
      <ion-input [(ngModel)]="prod1" type="number"></ion-input>
    </ion-item>
    <ion-input [readonly]="true" value="desconto {{desconto}} em cima da distancia"></ion-input>
    <ion-list>
      <ion-item>
        <ion-label>Selecione o peso do produto</ion-label>
        <ion-select class="custom-options" (ionChange)="verpeso($event)">
          <ion-select-option value="2">abaixo de 1kg</ion-select-option>
          <ion-select-option value="4">de 1kg até 5kg</ion-select-option>
          <ion-select-option value="6">de 5kg até 10kg</ion-select-option>
          <ion-select-option value="8">de 10kg até 20kg</ion-select-option>
          <ion-select-option value="10">de 20kg ou mais</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-input [readonly]="true" value="Preço {{peso}} reais"></ion-input>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>Selecione a distancia</ion-label>
        <ion-select class="custom-options" (ionChange)="verdis($event)">
          <ion-select-option value="3">abaixo de 5 km</ion-select-option>
          <ion-select-option value="5">de 5 até 10 km</ion-select-option>
          <ion-select-option value="7">de 10 até 20 km</ion-select-option>
          <ion-select-option value="9">de 20 até 30 km</ion-select-option>
          <ion-select-option value="11">de 30 até 40 km</ion-select-option>
          <ion-select-option value="13">de 40 km ou mais</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-input [readonly]="true" value="Preço {{distancia}} reais"></ion-input>
    </ion-list>

    <ion-list>
      <ion-segment value="default" (click)="modo()" [(ngModel)]="entrega">
        <ion-segment-button value="default">
          <ion-label>Padrão</ion-label>
        </ion-segment-button>
        <ion-segment-button value="expresso">
          <ion-label>Rapida</ion-label>
        </ion-segment-button>
        <ion-segment-button value="economico">
          <ion-label>Demorada</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-list>
  </ion-list>
  <ion-input [readonly]="true" value="Prazo: {{prazo}} "></ion-input>

  <ion-button (click)="verificaSelecionado()">Verificar preço</ion-button>


  <ion-list>
    <h1>Preços</h1>
    <ion-list>
      <h3>Por peso</h3>
      <ul>
        <li>abaixo de 1kg: 2 reais</li>
        <li>de 1kg até 5kg: 4 reais</li>
        <li>de 5kg até 10kg: 6 reais</li>
        <li>de 10kg até 15kg: 8 reais</li>
        <li>de 15kg ou mais: 10 reais</li>
      </ul>
    </ion-list>
    <ion-list>
      <h3>Por distancia</h3>
      <ul>
        <li>abaixo de 5 km: 3 reais</li>
        <li>de 5 até 10 km: 5 reais</li>
        <li>de 10 até 15 km: 7 reais</li>
        <li>de 15 até 20 km: 9 reais</li>
        <li>de 25 até 30 km: 11 reais</li>
        <li>de 30 km ou mais: 13 reais</li>
      </ul>
    </ion-list>
    <ion-list>
      <h3>Por entrega</h3>
      <ul>
        <li>Padrão: frete grátis, com o prazo estipulado de entrega</li>
        <li>Rapida: envio rápido de no máximo 3 dias, 15 reais</li>
        <li>Demorada: envio de no minímo 5 dias, 15% de desconto</li>      
      </ul>
    </ion-list>
  </ion-list>


</ion-content>
